@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 180 65% 93%;
    --foreground: 180 25% 25%;
    --card: 0 0% 100%;
    --card-foreground: 180 25% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 180 25% 25%;
    --primary: 180 100% 25.1%;
    --primary-foreground: 180 10% 98%;
    --secondary: 180 15% 90%;
    --secondary-foreground: 180 25% 25%;
    --muted: 180 15% 90%;
    --muted-foreground: 180 15% 45%;
    --accent: 120 73% 75%;
    --accent-foreground: 120 30% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 15% 85%;
    --input: 180 15% 88%;
    --ring: 180 100% 25.1%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 180 10% 10%;
    --foreground: 180 10% 95%;
    --card: 180 10% 15%;
    --card-foreground: 180 10% 95%;
    --popover: 180 10% 10%;
    --popover-foreground: 180 10% 95%;
    --primary: 180 100% 35%;
    --primary-foreground: 0 0% 98%;
    --secondary: 180 10% 25%;
    --secondary-foreground: 180 10% 95%;
    --muted: 180 10% 25%;
    --muted-foreground: 180 10% 60%;
    --accent: 120 60% 55%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 10% 25%;
    --input: 180 10% 25%;
    --ring: 180 100% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .printable-area, .printable-area * {
    visibility: visible;
  }
  .printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .no-print {
    display: none;
  }
}
